  {% for item in Cart %}
  <tr>
    <td>
      <img src="{{ item.Textbook.Image.url }}" alt="" style="height:250px; width:200px;">
    </td>
    <td>
      <a href="/textbook/{{ item.Textbook.Textbook_ID }}/"><h4 class="text-primary">{{ item.Title }}</h4></a>
      <p class="text-primary">ISBN: {{ item.ISBN }}</p>
      <p>Condition: {{ item.Cond }}</p>
      <p>Descripton: {{ item.Description }}</p>

    </td>
    <td>
      <p class="text-success">${{ item.Price }}</p>
    </td>
    <td>
      <p class="text-success">${{ item.Price }}</p>
    </td>
    <td>
      <i id = "{{ item.Textbook.Textbook_ID }}" class="fa fa-times"></i>
    </td>
  </tr>
  {% endfor %}
  <script type="text/javascript">

    $(document).ready(function(){
      {% if Cart %}
      $('#cart-table tr:last').after('<tr><td></td><td></td><td>Total:</td><td><p class="text-success">${{ total_price }}</p></td> </tr>')
      $('#cart-table tr:last').after('<tr><td></td><td></td><td></td><td><a href="{% url 'checkout' %}"><button id="checkout-button" class="btn btn-block btn-primary">Checkout</button></a></td> </tr>')
      {% endif %}
    });

    $(document).ready(function(){

      /**
      When the x button is pressed, sends an ajax request to delete the corresponding item from shopping cart
      */
      $('i').each(function(){
          $(this).click(function(){
            $.ajax({
              type: 'POST',
              url: "/shopping-cart-delete-request/",
              data: {'textbook_id': $(this).attr('id')},
              success: function(data){
                $('#replace-cart-items').html(data)
              },
              error: function(response){
                alert(response.status)
              },
            });
        });
      });
    });
  </script>
