{% extends 'Base-Homepage.html' %}

{% block body %}

  <div class="container">
    <h3 class="my-3">Sold Listings</h3>
    {% for Textbook in sold_listings %}
      <div class="card card-border-dark">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4" style="max-width:200px;">
              <img src="{{ Textbook.Textbook.Image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ Textbook.Title }}</h5>
                <p class="card-text"><small class="text-muted">ISBN: {{ Textbook.ISBN }}</small></p>
                <p class="card-text"><small class="text-muted">Author: {{ Textbook.Author }}</small></p>
                <p class="card-text"><small class="text-muted">Publisher: {{ Textbook.Publisher }}</small></p>
                <p class="card-text"><small class="text-muted">Condition: {{ Textbook.Cond }}</small></p>
                <p class="card-text"><small class="text-muted">Price: ${{ Textbook.Price }}</small></p>
                <p class="card-text"><small class="text-muted">Purchased By: {{ Textbook.Buyer }}</small></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <h3 class="my-3">Active Listings</h3>
    {% for Textbook in active_listings %}
      <div class="card card-border-dark">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4" style="max-width:200px;">
              <img src="{{ Textbook.Textbook.Image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="/textbook/{{ Textbook.Textbook.Textbook_ID }}">{{ Textbook.Title }}</a></h5>
                <p class="card-text"><small class="text-muted">ISBN: {{ Textbook.ISBN }}</small></p>
                <p class="card-text"><small class="text-muted">Author: {{ Textbook.Author }}</small></p>
                <p class="card-text"><small class="text-muted">Publisher: {{ Textbook.Publisher }}</small></p>
                <p class="card-text"><small class="text-muted">Condition: {{ Textbook.Cond }}</small></p>
                <p class="card-text"><small class="text-muted">Price: ${{ Textbook.Price }}</small></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
