{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<div style="background-image: url({{ MEDIA_URL }}mountains.jpg); height: 120vh;">
    <div class="text-white text-center rgba-stylish-strong py-5 justify-content-center" style="height: 120vh;">
      <h2 class="my-4 py-2">
        <a href="{% url 'login' %}"><i class="fa fa-arrow-left" style="position:fixed;left:400px;"></i></a>
        <text>Sign Up</text>
      </h2>
      <form id='register-form' action="{% url 'register' %}" method="post">
        <div class="form-group" style="display: inline-block;">
            {% csrf_token %}
            <div class="form-group" style="width: 300px;">
                <label for="id_username">Username: </label>
                {{ form.username }}
            </div>
            <div class="form-group"  style="width: 300px;">
                <label for="id_email">Email: </label>
                {{ form.email }}
            </div>
            <div class="form-group"  style="width: 300px;">
                <label for="id_first_name">First Name: </label>
                {{ form.first_name }}
            </div>
            <div class="form-group"  style="width: 300px;">
                <label for="id_last_name">Last Name: </label>
                {{ form.last_name }}
            </div>
            <div class="form-group"  style="width: 300px;">

                <label for="id_password">Password: </label>
                {{ form.password1 }}
            </div>
            <div class="form-group" style= "width: 300px;">
                <label for="id_password">Password Confirmation: </label>
                {{ form.password2 }}
            </div>
        <input class = "btn aqua-gradient" type="button" name="register" value="Register" onclick="return check_register()">
        </div>
      </form
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#id_password1').addClass('form-control')
    $('#id_password1').attr('placeholder', 'Enter password')
    $('#id_password2').addClass('form-control')
    $('#id_password2').attr('placeholder', 'Confirm your password')
    $('#id_email').attr('placeholder', "name@example.com")
    $('#id_username').attr('placeholder', "Enter username")
    $('#id_first_name').attr('placeholder', "Enter first name")
    $('#id_last_name').attr('placeholder', "Enter last name")
  });
  {% if username_exists %}
  $(document).ready(function(){
    $('#id_username').after("<div id='username-feedback' class='invalid-feedback small-text'>Username already exists</div>");
    $('#id_username').addClass("is-invalid");
  })
  {% endif %}
</script>
{% endblock %}
