{% extends 'Base-Homepage.html' %}

{% block body %}
<div class="Arvo" style="display:flex;">

  <div class="container" style="flex: 1;">

    <div class="card card-cascade wider reverse">

    <div class="card-body card-body-cascade text-center">

    <div class="rounded-right rounded-left" style="margin-bottom: 40px;
        border-width: 3px; border-color: transparent transparent black transparent; border-style: solid;
        font-size: 2rem; flex: 0 0 65%;">
    <p>MY ACCOUNT SETTINGS</p>
    </div>
    <div class="container float-left">

      <h5>EDIT YOUR PROFILE DETAILS</h5>
      <form id="userchangeform" enctype='multipart/form-data' action="{% url 'settings' %}" method="post">
        <div class="form-group">
          {% csrf_token %}
          <div class="form-group">
            <div class="container" style="width: 30%;">
            {% if request.user.Profile_Picture %}
            <img id="avatar-pic" class = "img-fluid rounded-circle" src="{{ request.user.Profile_Picture.url }}" alt="Not found">
            {% else %}
            <img id="avatar-pic" class = "img-fluid rounded-circle" src="{{ MEDIA_URL}}default.jpg" alt="Not found">
            {% endif %}
            </div>
            <br>
            <label class="float-left" for="Profile_Picture">Profile Picture: </label>
            {{ form.Profile_Picture }}
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class = "float-left" for="username">Username: </label>
              <input readonly class="form-control-plaintext disabled" type="text" name="username" value="{{ request.user.username }}">
            </div>
            {% for field in form %}
             {% if field.name != 'Profile_Picture' %}
            <div class="form-group col-md-12">
              <label class="float-left" for="{{ field.name }}">{{ field.label }}: </label>
                {{ field }}
              {{ field.error }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {{ form.errors }}
          {% for message in messages %}
            {{ messages }}
          {% endfor %}
        </div>
        <input class="btn btn-dark" type="submit" name="save-button" value="Save" onclick="return check_settings()">
      </form>

    </div>

    </div>
    </div>

  </div>
</div>
{% endblock %}
